:host {
  height: 100%;
}

.toc {
  &:not(.expand) {
    li {
      text-align: center;
    }
  }
}

ul,
li {
  list-style: none;
  padding: 0;
}

ul {
  li {
    border-left: 2px solid transparent;
    cursor: pointer;
  }
}

.sort-toc {
  width: initial;
}

.method-item {
  height: 28px;
  line-height: 25px;
  padding: 0 0 0 10px;

  mat-checkbox {
    width: 100%;

    /deep/ .mat-checkbox-layout {
      width: 100%;
    }

    /deep/ .mat-checkbox-label {
      width: 100%;
    }
  }
}

.footer {
  text-align: right;
}
