.search-result {
  .suggestions {
    .method {
      min-width: 50px;
    }

    .suggestion-item {
      padding: 4px 10px;
      border-left: 1px solid var(--main-border-color);

      app-api-request {
        opacity: 0;
      }

      &.actived,
      &:hover {
        background: var(--main-matched-hover);
        cursor: pointer;

        app-api-request {
          opacity: 1;
        }
      }
    }
  }
}

::ng-deep .token.matched {
  color: var(--main-matched);
  background: var(--main-matched-bg);
}

::ng-deep .token.title.matched {
  padding-bottom: 2px;
  box-shadow: inset 0 -2px 0 0 var(--main-matched-border);
}

app-api-request {
  ::ng-deep button {
    line-height: initial !important;
    font-size: 13px !important;
    padding: 2px 5px !important;
  }
}
