@box-shadow: rgba(0, 0, 0, 0.1);

@border-color: rgba(0, 0, 0, 0.12);

@scroll-color: rgba(0, 0, 0, 0.26);

@text-disabled: rgba(0, 0, 0, 0.38);

@border-color-4: rgba(0, 0, 0, 0.42);

@sub-title: rgba(0, 0, 0, 0.6);

@table-head: rgba(0, 0, 0, 0.6);

@primary: #1976d2;

@primary-bg: rgba(63, 81, 181, 0.15);

@primary-hover: rgba(63, 81, 181, 0.3);

@primary-selected: #3f51b5;

@btn-foucs-outline: #3f51b5;

@border-primary: #3f51b5;

@white: #fff;

@border-grey: #ccc;

@input-border: #d1d1d1;

@table-hover: #f8f9fa;

@background-grey: #f0f0f0;

@background-nav: #fafafa;

@get: #61affe;

@post: #49cc90;

@put: #fca130;

@delete: #f93e3e;

@patch: #50e3c2;

@deprecated: #ebebeb;

@matched: #174d8c;

@matched-bg: rgba(143, 187, 237, 0.1);

@matched-border: rgba(69, 142, 225, 0.8);

@matched-hover: rgba(69, 142, 225, 0.05);

.white {
  color: @white;
}
