:host {
  /deep/ .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.api-detail {
  padding: 10px 8px 20px 8px;
}

app-api-request {
  flex-shrink: 0;
}

.full-width {
  width: 100%;

  label {
    display: inline-block;
  }
}
