:host {
  display: block;
  padding-top: 45px;

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.api-detail {
  padding: 10px 8px 20px 8px;
}

app-api-request {
  flex-shrink: 0;
}

.api-items {
  position: fixed;
  left: 300px;
  right: 272px;
  top: 64px;
  padding: 20px 10px 20px 15px;
  z-index: 9;
  background: var(--main-background-nav);
}
