<button
  mat-button
  [matMenuTriggerFor]="selectRef"
  title="切换项目"
  tr="project-change|title"
>
  <div class="flex y-center">
    <span class="flex-1 cur-project">{{ projects[selected]?.display }}</span>

    <mat-icon class="mf-8">arrow_drop_down</mat-icon>
  </div>
</button>

<mat-menu #selectRef="matMenu" class="choose-project-panel">
  <ng-template matMenuContent>
    <div
      class="flex y-center justify-between project-item"
      mat-menu-item
      *ngFor="let project of projects; let i = index"
      (click)="changeProject(i)"
    >
      <span>{{ project.display }}</span>

      <button
        appStopClick
        class="remove-project ml-5"
        title="关闭"
        tr="close|title"
        mat-icon-button
        (click)="removeProject(i)"
      >
        <mat-icon class="mr-0" tr="remove|title" title="移除" inline>
          close
        </mat-icon>
      </button>
    </div>

    <div
      *ngIf="empty"
      mat-menu-item
      class="flex y-center justify-between project-item"
    >
      <button class="ml-5 mat-icon-button" (click)="closeMenu()" tr="no-data">
        暂无数据
      </button>
    </div>
  </ng-template>
</mat-menu>
