:host {
  position: fixed;
  left: 0;
  top: 65px;
  bottom: 0;
  height: 100vh;
  max-height: calc(100% - 64px);
  border-right: 1px solid var(--main-border-color);
  transform: translateX(0%);
  z-index: 3;
  overflow-x: hidden;
  background: var(--main-white);
}

app-toggle-el {
  position: absolute;
  right: 0;
}
