<div *ngIf="byUrl" class="y-center">
  <input
    [title]="url"
    #inputRef
    (focus)="inputRef.select()"
    class="update-url pl-5"
    [(ngModel)]="url"
    placeholder="通过 URL 导入已有 API"
  />

  <button
    (click)="fetchFile()"
    mat-stroked-button
    color="primary"
    class="ml-10 px-2 outlined"
    [class.loading]="loading"
    [disabled]="loading || !url"
  >
    <mat-icon
      class="f-21 inline-flex import-icon align-center justify-center"
      title="导入或进行更新"
    >
      refresh
    </mat-icon>
  </button>
</div>

<div *ngIf="byLocal" class="input-by-local">
  <input
    title="点击导入本地 JSON 文件"
    class="file-input"
    type="file"
    accept="application/json"
    #fileInput
    (change)="parseFile($event)"
    *ngIf="!destroy"
  />

  <button mat-mini-fab color="primary" title="点击导入本地 JSON 文件">
    <mat-icon>add</mat-icon>
  </button>
</div>
